<div class="center jumbotron">
  <h1>井戸端掲示板へようこそ！</h1>
  <h2>いろいろなことをみんなで語り合いましょう！</h2>

  <%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "かんたんログイン", '#', class: "btn btn-lg btn-primary" %>
</div>