<li id="board-<%= board.id %>">
  <span class="title"><%= link_to board.title, "#" %></span>
  <span class="description"><%= board.description %></span>
  <span class="timestamp"><%= l board.created_at %></span>
</li>