<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "井戸端掲示板", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ログイン", '#', id: "login" %></li>
      </ul>
    </nav>
  </div>
</header>